*~
*.*~
*.zip
*.tar.gz
link2data
link2doc
*.mp4
*.srt
#R files
.Rhistory
.RData


# courses
Johns_Hopkins_courses/jh_all_courses
Johns_Hopkins_courses/repos

# course: R_Programming
Johns_Hopkins_courses/2.R_Programming/exercises/3/ex3.html
Johns_Hopkins_courses/2.R_Programming/exercises/3/ex3_files
!Johns_Hopkins_courses/2.R_Programming/exercises/3/rprog_data_ProgAssignment3-data.zip

# course: Getting_Data
Johns_Hopkins_courses/3.Getting_Data/link2*
Johns_Hopkins_courses/3.Getting_Data/videos
Johns_Hopkins_courses/3.Getting_Data/lectures_test/data
Johns_Hopkins_courses/3.Getting_Data/project/data
Johns_Hopkins_courses/3.Getting_Data/project/codebook.md
Johns_Hopkins_courses/3.Getting_Data/upload_project
Johns_Hopkins_courses/3.Getting_Data/quizz/data/

# course: Exploratory_Analysis
Johns_Hopkins_courses/4_Exploratory_Analysis/
!Johns_Hopkins_courses/4_Exploratory_Analysis/04.exploratory_analysis.notes.txt
